ion-back-button {
    color: white;
    margin-left: 15px;
}

img {
    height: 250px;
    width: 300px;
}

h3 {
    width: 80%;
    font-family: 'Questrial' !important;
}

h4 {
    margin-left: 20px;
    font-family: 'Questrial' !important;
}

.text-center {
    display: flex;
    justify-content: center;
}

agm-map {
    height: 300px;
}