<ion-header>
  <ion-toolbar class="toolbar--background">
    <ion-buttons slot="start">
      <ion-back-button [text]="back_button_text" [icon]="back_button_icon">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Mi perfil</ion-title>
    <!-- <ion-button (click)="logout()" slot="end" expand="block" fill="clear" shape="round">
      <ion-icon name="log-out-outline" class="icon-profile"></ion-icon>
    </ion-button> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div class="user-picture">
          <img [src]="imagen_perfil" alt="Ceres Logo">
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: -30px;">
      <ion-col size="12" class="text-center">
        <h1 class="main--title">{{profile.username}}</h1>
        <h3 class="main--subtitle">{{profile.first_name}} {{profile.last_name}}</h3>
        <p>{{profile.email}}</p>
        <ion-button color="primary">
          Editar <ion-icon name="pencil-sharp"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-segment [(ngModel)]="segment">
        <ion-segment-button value="restaurants">
          <ion-label>Restaurantes</ion-label>
        </ion-segment-button>
        <ion-segment-button value="receips">
          <ion-label>Recetas</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-row>
    <div [hidden]="segment != 'restaurants'">
      <ion-row class="ion-row-margin">
        <ul *ngFor="let r of restaurants">
          <!-- <li (click)="toRestaurant(r.id)">{{r.title}}</li> -->
        </ul>
        <!-- <h5 style="margin: 15px;">No tienes restaurantes favoritos.</h5> -->
      </ion-row>
    </div>
    <div [hidden]="segment != 'receips'">
      <ion-row style="margin-top: -5px;" class="ion-row-margin">
        <h5 style="margin: 15px;">No tienes recetas favoritos.</h5>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>