<ion-header>
  <ion-toolbar class="toolbar--background">
    <ion-buttons slot="start">
      <ion-back-button [text]="back_button_text" [icon]="back_button_icon">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Detalles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <img [src]="restaurant?.img" alt="">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-row>
        <ion-col size="12" class="text--center--vertical">
          <h3>{{restaurant?.title}}</h3>
          <div>
            <ion-button color="primary">
              <ion-icon name="clipboard-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="addToFavorites()" color="danger">
              <ion-icon name="heart" ></ion-icon>
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col size="12">
        <h4>Ingredientes</h4>
        <ul [innerHTML]="restaurant?.details"></ul>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <h4>Pasos</h4>
        <ol [innerHTML]="restaurant?.steps"></ol>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>