ion-back-button {
    color: rgb(87, 146, 31);
    margin-left: 15px;
}
.noshow {
    display: none;
}
.profilebutton {
    z-index: 2;
    position: absolute;
    right: 30%;
    top: 60%;
    margin: auto;
}