ion-icon {
    font-size: 80px;
    color: white;
}

ion-card {
    background-color: #BBC4B5;
    display: flex;
    justify-content: center;
}

ion-card-subtitle {
    color: black;
}

img {
    opacity: 0.6;
    border-radius: 50%;
    height: 75%;
}

.title {
    font-family: 'Questrial' !important;
}