img {
    opacity: 0.6;
    border-radius: 50%;
    height: 50%;
}

.mt-50 {
    margin-top: 50px;
}

.title {
    font-family: 'Questrial' !important;
    font-size: 35px;
}

.mt--180 {
    margin-top: -180px;
}

.center-row {
    display: flex;
    justify-content: center;
}

.forget {
    color: white;
}