ion-back-button {
    color: rgb(87, 146, 31);
    margin-left: 15px;
}

ion-segment {
    padding: 10px;
}

ion-segment-button {
    margin: 5px;
    height: 50px;
    background-color: #BBC3B5;
}

ion-icon {
    color: black;
}

.ion-card-segment {
    background-color: #68944E;
}

ion-card {
    background-color: #BBC3B5;
    display: flex;
    flex-direction: row;
    color: black;
}

img {
    width: 100%;
    height: 100px;
}

.ion-row-margin {
    margin: -40px 0;
}